{{ define "main" }}
<div class="container">
  <div class="columns">
    <div class="column is-four-fifths">
      <main class="section">
        <header>
          <h1 class="title is-2">{{ .Title }}</h1>
          <p class="subtitle is-5">
            {{ .Date.Format "2006-01-02" }} — {{ i18n "quote" }}
            {{ if .IsTranslated }}
            - {{ i18n "translation" }}
            {{ range .Translations }}
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            {{ end}}
            {{ end }}
            {{ partial "tagline" .}}
          </p>
        </header>
        <section class="section">
          <div class="content is-large">
            <blockquote>
              <p>{{ .Content }}</p>
              <footer>
                <cite>
                  <span class="author">{{ .Params.author }}</span>
                  {{ if isset .Params "source" }}
                  — {{ .Params.source }}
                  {{ else if isset .Params "link" }}
                  — <a href="{{ .Params.link }}">
                    {{ if isset .Params "source_link_title" }}
                    {{ .Params.source_link_title | markdownify }}
                    {{ else }}
                    {{ .Params.link }}
                    {{ end }}
                  </a>
                  {{ end }}
                </cite>
              </footer>
            </blockquote>
          </div>
        </section>
      </main>
      {{ partial "list-iteration.html" . }}
    </div>
    <div class="column">
      <aside id="sidebar">
        {{ partial "mini-about.html" . }}
        {{ partial "explore.html" . }}
      </aside>
    </div>
  </div>
</div>
{{ end }}
