    <!-- Katex CSS -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/katex.min.css">
    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="{{ .Site.BaseURL }}js/katex.min.js"></script>
    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="{{ .Site.BaseURL }}js/auto-render.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
                // customised options
                // • auto-render specific keys, e.g.:
                delimiters: [
                    {left: '$$', right: '$$', display: true},
                    {left: '$', right: '$', display: false},
                ],
                // • rendering keys, e.g.:
                throwOnError : false
            });
        });
    </script>