{{ define "main" }}
<main class="section">
  <div class="container">
    <div class="level">
      <div class="level-item">
        <figure class="image is-256x256 round-portrait">
          <img src="/img/mauro-taraborelli-portrait-512.jpg" alt="Mauro Taraborelli Portrait">
        </figure>
      </div>
    </div>
    <div class="level">
      <div class="level-item">
        <div class="content is-large has-text-centered">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
